.iframe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.frame {
    width: 50%;
    height: 400px;
    margin: 20px;
}

@media(max-width: 767px) {
    .frame {
        width: 100%;
        height: 200px;
        margin: 20px;
    }
}